html,
body,
ol,
h1,
h2,
p {
    list-style: none;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #171a20;
    color: #ffffff;
    display: grid;
    grid-gap: 1rem 0;
    grid-template-areas:
            'h1 aside'
            'nav aside'
            'p aside'
;
    grid-template-columns: auto 30vw;
    grid-template-rows: max-content max-content auto;
    font-family: Gotham Book, system, sans-serif;
    font-size: 16px;
    line-height: 1.4;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

aside {
    background-color: #ffffff;
    color: #000000;
    display: grid;
    grid-area: aside;
    grid-auto-flow: row;
    grid-gap: 1rem;
    height: 100vh;
    padding: 1rem;
    overflow: hidden;
    overflow-y: auto;

    -webkit-overflow-scrolling: touch;
}

aside a {
    cursor: zoom-in;
}

aside span {
    background-color: #a2a3a5;
    border-radius: 0.2rem;
    color: #171a20;
    display: inline;
    padding: 0 0.3rem;
    white-space: nowrap;
}

img {
    width: 100%;
}

h1 {
    align-self: bottom;
    grid-area: h1;
    justify-self: center;
    padding-top: 10rem;
}

body > p {
    align-self: top;
    font-size: 1rem;
    grid-area: p;
    justify-self: center;
    line-height: 1;
    padding: 1rem;
}

body > p span {
    font-size: 20rem;
}

ol,
li {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 1rem;
}

li + li {
    border-top: 1px solid #a2a3a5;
    padding-top: 1rem;
}

nav {
    align-self: center;
    background-color: #000000;
    border: 2px solid #a2a3a5;
    border-radius: 2rem;
    display: flex;
    grid-area: nav;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fill, minmax(1rem, 1fr));
    justify-self: center;
    overflow: hidden;
    text-align: center;
}

nav a {
    color: #ffffff;
    padding: 1rem 1.4rem;
    position: relative;
    text-decoration: none;
    transition-property: background-color, box-shadow;
    transition-duration: 1200ms;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

nav a:first-child {
    padding-left: 2rem;
}

nav a:last-child {
    padding-right: 2rem;
}

/** Your Codes **/
nav:hover a:not(:hover){
    background: #a2a3a5;
}
